*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Membuat Tampilan Utama Navbar*/
.navbar{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    background-color:rgb(225, 222, 21);
    color: teal;
    padding: 12px 22px;
}

    /*membuat tampilan logo*/
    .navbar .logo{
        font-size: 25px;
        font-weight: bold;
      }

      /*membuat tampilan daftar menu*/
      .nav-links{
        list-style: none;
        display:flex;
        gap:25px;
    }

    /*membuat tampilan teks link*/
    .nav-links a{
        color:blueviolet;
        text-decoration: none;
        font-size: 16px;
        font-family: impact;
    }

    /*membuat tampilan hover*/
    .nav-links a:hover{
        background-color:red;
        color: white;
    }

    #items{
        font-size: 16 px;
        font-family: impact;
        color:cadetblue;
    }